doctype html
html
    head
        meta(charset="utf-8")
        title=$title
        meta(keywords=$keywords)
        meta(description=$description)
        meta(name="viewport" content="width=device-width")
    body
        #react